/* 앱 내부 특정 영역 또는 컴포넌트 전용 CSS */
/* Tailwind를 쓰더라도 추가 커스텀 스타일 */

#root {
  max-width: 100%;
  /* margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
}

.main-content-wrapper {
  padding: 2rem; /* 원하는 패딩 */
  margin: 0 auto; /* 좌우 중앙 정렬 */
  box-sizing: border-box; /* 패딩 포함해서 width 계산 */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
